<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <style>
        .home{
            width: 400px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    </style> -->
</head>
<body>
    <div class="container">
        <a href="login" class = "btn btn-success btn-sm my-3" > <h1>Login</h1></a>
        <a href="register" class = "btn btn-primary btn-sm my-3 mx-5 p-1 fs-6"> <h2>Register</h2></a>
       <h3 class="fs-1">Login to get acess to the blogs.</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, optio temporibus laboriosam cumque porro sed unde voluptatum error alias quidem corrupti maiores suscipit libero quae placeat eaque aliquid deleniti amet quas, dolore pariatur quis. Voluptatibus similique nobis doloremque dolorem cumque dolorum fugit, error voluptatum magni excepturi. Ex nihil natus corrupti?</p>
    </div>

  
 </body>
</html>